@page "/"
@using OrderSite.Models

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>
    <input type="text" @oninput="UpdateSO"/>
    <input type="text" @oninput="UpdatePO"/>
    <InputCheckbox @bind-Value="isPulled"/>
</p>
<InputRadioGroup TValue="@ShippingMethod" Name="Methods" ValueChanged="@method">
    @foreach(var shipMethod in Enum.GetValues(typeof(ShippingMethod)).Cast<ShippingMethod>())
        {
            <InputRadio TValue="@ShippingMethod" Value="@shipMethod">@(shipMethod.ToString())</InputRadio>
        }
</InputRadioGroup>
<p>
    <label>@salesOrderIn</label>
    <label>@PONumberIn</label>
    <label>@isPulled</label>
    <label>@method</label>
</p>

<table>
@foreach (Order order in orders.Orders!) {
    <tr>@order.OrderNumber, @order.PONumber</tr>
}
</table>

@code {
    private string salesOrderIn = "";
    private string PONumberIn = "";
    private bool isPulled = false;
    private ShippingMethod method;
    OrderCurrier orders = new OrderCurrier();
    private void UpdateSO(ChangeEventArgs e) {
        salesOrderIn = e.Value!.ToString()!;
    }
    private void UpdatePO(ChangeEventArgs e) {
        PONumberIn = e.Value!.ToString()!;
    }
}